# Laravel
/vendor/
/node_modules/
/public/storage

# Environment
.env
.env.*
!.env.example

# Laravel storage
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

# IDE
.vscode/
.idea/

# Tests
/tests/

# Docker
docker-compose.yml
Dockerfile
docker-entrypoint.sh

# Documentation
*.md

# Git
.git/