.git
.gitignore

node_modules
vendor

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

tests

.env
.env.*
!.env.example

.vscode
.idea

*.md

docker-compose.yml
Dockerfile
docker-entrypoint.sh